{{ define "Dashboard" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Welcome to Dashboard</h2>
    
    <a href="/logout">Logout</a></td>
        
  {{ template "Footer" }}
{{ end }}