{{ define "Dashboard" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Welcome to Dashboard</h2>
    HI {{.Username}} Please select your subject</br>
    Your ID: {{.Id}} </br>
        <a href="/logout">Logout</a></td>
        
  {{ template "Footer" }}
{{ end }}