{{ define "Index" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Registered Users List :</h2>
    <table class="table">
      <thead>
      <tr>
        <td>ID</td>
        <td>Username</td>
        <td>Password</td>
        <td>Created_at</td>
             </tr>
       </thead>
       <tbody>
    {{ range . }}
      <tr>
        <td>{{ .Id }}</td>
        <td> {{ .Username }} </td>
        <td>{{ .Password }} </td>
        <td>{{ .Created_at }} </td> 
           </tr>
    {{ end }}
       </tbody>
    </table>
  {{ template "Footer" }}
{{ end }}