{{ define "Show" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Register User {{ .Id }} </h2>
      <p>User Name: {{ .Username }}</p>
      <p>Password  {{ .Password }}</p><br />
      <p>Created On  {{ .Created_at }}</p><br />
  {{ template "Footer" }}
{{ end }}